<!-- PAGE CONTENT STARTS HERE -->
<div class="container-s profile">
    <div class="row">
        <h2>SETTINGS</h2>
    </div>
    <!--RANK-->
    <div class="row">
        <div class="col-sm-2 infotype">rank</div>
        <div class="col-sm-10">{{user.rank}}</div>
    </div>
    <!--USERNAME-->
    <div class="row">
        <div class="col-sm-2 infotype">username</div>
        <div class="col-sm-10">{{user.username}}</div>
    </div>
    <!--EMAIL-->
    <div class="row">
        <div class="col-sm-2 infotype">email</div>
        <div class="col-sm-10">{{user.email}}</div>
    </div>
    <!--PASSWORD-->
    <form action='/profile/changePassword' method='post' onsubmit="checkPassword(event)">
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label infotype">password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control input-sm" id="password" name="password"
                    placeholder="password" >
                <input type="submit" class="btn btn-primary btn-sm" value="CHANGE PASSWORD" />
                <div id="passwordInfo">{{{error}}}</div>
            </div>
        </div>
    </form>

    <!--TERMINATE MY ACCOUNT-->
    <form action='/profile/terminate' method='post'>
        <div class="form-group row infotype">
            <label for="terminate" class="col-sm-2 col-form-label infotype">Delete my account</label>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-primary btn-sm" value="TERMINATE" />
            </div>
        </div>
    </form>

    <!--APPEARANCE-->
    <form action='/profile/update' method='post' onsubmit="checkProfileInfo(event)">
        <div class="row">
            <h2>APPEARANCE</h2>
        </div>
        <!--PROFILE PICTURE-->

        <div class="form-group row infotype">
            <label for="pfp" class="col-sm-2 col-form-label infotype">profile picture</label>
            <div class="col-sm-10">
                <input type="file" class="form-control-file input-sm appearance-form" id="pfp" name="pfp" method="POST" enctype="multipart/form-data"/>
            </div>
        </div>

        <!--SKIN-->

        <div class="form-group row infotype">
            <label for="skin" class="col-sm-2 col-form-label infotype">skin</label>
            <div class="col-sm-10 skin-selector">
                <input id="goat" class="appearance-form" type="radio" name="skin" value="goat" {{checked user.skin "goat"}}/>
                <label class="skin-img goat" for="goat"></label>
                <input id="bunny" class="appearance-form" type="radio" name="skin" value="bunny" {{checked user.skin "bunny"}}/>
                <label class="skin-img bunny" for="bunny"></label>
                <input id="rat" class="appearance-form" type="radio" name="skin" value="rat" {{checked user.skin "rat"}}/>
                <label class="skin-img rat" for="rat"></label>
            </div>
        </div>

        <!--BIO TITLE-->

        <div class="form-group row">
            <label for="biotitle" class="col-sm-2 col-form-label infotype">bio title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control input-sm profile-input" id="biotitle" name="biotitle" value="{{user.bio_title}}">
            </div>
        </div>

        <!--BIO-->

        <div class="form-group row">
            <label for="bio" class="col-sm-2 col-form-label infotype">bio</label>
            <div class="col-sm-10">
                <textarea class="form-control input-sm profile-input" id="bio" name="bio"
                    rows="5">{{user.bio}}</textarea>
            </div>
        </div>

        <!--SUBMIT CHANGES-->

        <button type="submit" class="btn btn-outline-dark">UPDATE PROFILE</button>

    </form>
</div>
<!-- PAGE CONTENT ENDS HERE -->